.movieSection {
    /* background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/ovM06PdF3M8wvKb06i4sjW3xoww.jpg'); */
    /* background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}'); */
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.movieContent {
    padding: 30px 40px;
    background: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 52.5, 0.84) 50%, rgba(31.5, 31.5, 52.5, 0.84) 100%);
}

.posterSection {
    width: 300px;
    min-width: 300px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    position: relative
}

.posterSection:hover .blackHover {
    opacity: 1;
}

.blackHover {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    backdrop-filter: blur(20px);
    opacity: 0;
    transition: linear .2s;
    font-size: 1.3em;
    line-height: 450px;
}

.blackHover img {
    width: 20px !important;
    height: 20px !important;
    display: inline !important;
    margin-right: 6px;
}

.blackHover a:hover,
.movieData a:hover {
    color: rgba(255, 255, 255, 0.7)
}

.posterSection img {
    display: block;
    width: 100%;
    height: 100%;
}

.movieHeading {
    margin-bottom: 24px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

h2 span {
    font-weight: 400;
    opacity: .8;
}

.actions {
    margin-bottom: 20px;
}

.actions div {
    align-items: center;
    font-weight: 700;
}

.actions p {
    margin-left: 6px;
    margin-right: 20px;
}

.actions .persent:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.actions .persent {
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    align-items: center;
    transition: transform .2s;
}

.persent span fa-icon {
    font-size: 6px;
    position: absolute;
    top: -1px;
    right: 11px
}

.actions .persent span {
    width: 100%;
    height: 100%;
    position: relative;
}


/*
.actions .persent span::before {
    content: '\0025';
} */

.actions ul li {
    margin-right: 20px;
}

.actions ul li a {
    display: inline-flex;
    font-size: 12px;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 37, 65, 1);
    border-radius: 50%;
}

span fa-icon {
    margin-right: 5px;
}

.movieHeading ul li:first-of-type::before,
.runTime::before {
    content: '\2022';
    padding: 0 10px
}

.movieHeading ul li:not(:last-of-type)::after {
    content: ',';
}

.movieHeading ul li,
.runTime {
    padding: 0px 5px;
}

.movieData h4 {
    font-style: italic;
    font-size: 1.1em;
    opacity: .7;
}

.movieData h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.3em;
}