<!-- <p>popular-movies works!</p> -->
<app-shortcut-bar></app-shortcut-bar>
<app-skelten-loading *ngIf="!dataLoaded"></app-skelten-loading>

<app-searched-items (searchEvent)="receiveMessage($event)"></app-searched-items>

<div *ngIf="!searchLoaded">
    <div *ngIf=" dataLoaded ">
        <div class="flex justify-between ">
            <h6 class=" text-lg font-semibold pl-10  mb-5 ">Popular Movies</h6>

        </div>
        <!-- popular movies section -->
        <div>
            <div class="mb-5 ">
                <div class="flex flex-wrap justify-start mx-10 ">
                    <div class="mediaItem flex-none ml-8 mb-5 " *ngFor="let movie of movies | paginate:{itemsPerPage:size, currentPage:page, totalItems:totalResults}; let i=index ">
                        <div>
                            <div class="cardTop ">
                                <!-- <div class="dots " (click)="visiblityStatus() ">
                            <a href="# ">
                                <div></div>
                                <img src='/assets/dots.svg'> 
                        </a>
                    </div> -->
                                <!-- <div class="optionList ">
                            <ul>
                                <li>
                                    <a href="# "> Add To List</a>
                                </li>
                                <li>
                                    <a href="# ">Favorite </a></li>
                                <li>
                                    <a href="# ">Watchlist</a>
                                </li>
                                <li>
                                    <a href="# ">Your Rating</a>
                                </li>
                            </ul>
                        </div> -->
                                <a routerLink="/movie/{{movie.id}}/{{movie.title}}"><img class="rounded-lg h-64 " src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{ movie.poster_path}} " alt="{{movie.title}} " />
                                </a>
                            </div>
                            <div class="content relative ">
                                <div class=" persent absolute ">
                                    <span>{{votingPercents[i]}} <fa-icon [icon]="faPercent "></fa-icon></span>
                                </div>

                                <a routerLink="/movie/{{movie.id}}/{{movie.title}} " title="{{movie.title}} ">
                                    <h3 class="font-bold ">{{ movie.title }}{{ movie.name }}</h3>
                                </a>
                                <p>
                                    {{ movie.release_date | date }}{{ movie.first_air_date | date }}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center text-sm ">
                    <pagination-controls previousLabel="Prev " nextLabel="Next " (pageChange)="changeData($event) ">

                    </pagination-controls>
                </div>
            </div>
        </div>

        <!-- search results -->
    </div>
</div>